$backgroundcolour: #81ABFF;
$navcolour: #053BA7;
$slidetitlefont: 'Roboto', 'sans-serif';

* {
    margin: 0 0;
}

body {
    background-color: $backgroundcolour;
}

#header {
    width:100%;
}

#navbar {
    width:100%;
    background-color: $navcolour;
}

.tabs {
    list-style-type: none;
    display:flex;
    justify-content: center;
    width:100%;
    padding-left:0;
}

.tab {
    
    a {
        font-size: 1.25rem;
        font-family: 'roboto', sans-serif;
        text-decoration: none;
        color: white;
        transition: 0.25s ease-in-out;
        &:hover {
            color:$backgroundcolour;
        }
        
    }
    padding:18px;
}


#copyright {
    font-family: Verdana, sans-serif;
    font-size:12px;
    padding: 12px;
}

.toggle {
    display:block !important;
}

.rotate {
    transform:rotate(180deg);
}

.hide {
    display:none !important;
}

#hiddentabs {
    
    padding:12px;
}

.hiddentabsclass {
    
    display:none;
    
    position:absolute;
    background-color: $navcolour;
    list-style-type: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0 auto;
}

#main {
    height:1200px;
}


.slidetitle {
    padding: 18px;
    text-align:center;
    color:white;
    font-size: 30px;
    font-family: $slidetitlefont;
}

.lang {
    padding:8px;
    text-align:center;
    color:white;
    font-size: 24px;
    font-family: $slidetitlefont;
}

.mainslider {
    width:100%
}

.slidecontent {
    width:100% !important;
}

.slide {
    height:90vh !important;
    justify-content: center;
}


.pong {
    background-image: url('webone.jpg');
    background-size:cover;
}

.racecar {
    background-image: url('webtwo.jpg');
    background-size:cover;
}

.passwordgen {
    background-image: url('webthree.jpg');
    background-size:cover;
}

#footer {
    background-color:$navcolour;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    bottom:0;
    align-items:center;
    text-decoration: none !important;
    i {
        text-decoration: none !important;
        color:white;
        font-size: 2em;
        padding:8px;
        transition: 0.25s ease-in-out;
        &:hover {
            color:$backgroundcolour;
        }
    }
}


